include mypy.ini
include python_version
include project_requires.py
include noxfile.py

recursive-include snr *.py
recursive-include tests *.csv
recursive-include tests *.py
recursive-include tests *.txt

exclude Makefile
exclude .vscode/*
