# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: 
        - '3.9'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install nox
        # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
    - name: Run MyPy check
      run: |
        python -m pip install mypy
        mypy snr --ignore-missing-imports
    - name: Run Flake8 lint 
      run: |
        python -m nox -s lint

  test:
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: 
        - '3.6'
        - '3.7'
        - '3.8'
        - '3.9'
        - 'pypy3'
        - 'pypy-3.7'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install nox
        # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
    - name: Run Nox Tests 
      run: |
        python -m nox -s test-${{ matrix.python-version }} bench-${{ matrix.python-version }}

  build:
    needs: [check, test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: 
        - '3.6'
        - '3.7'
        - '3.8'
        - '3.9'
        - 'pypy3'
        - 'pypy-3.7'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
    - name: Create Package distribution
      run: |
        python setup.py check
        python setup.py build
        python setup.py sdist
